[submodule "pack/syntax/start/gruvbox"]
	path = pack/syntax/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/general/start/vim-airline"]
	path = pack/general/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/general/start/nerdtree"]
	path = pack/general/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/general/start/fzf.vim"]
	path = pack/general/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "pack/general/start/undotree"]
	path = pack/general/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "pack/syntax/start/vim-go"]
	path = pack/syntax/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "pack/general/start/vim-surround"]
	path = pack/general/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/syntax/start/vim-rails"]
	path = pack/syntax/start/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "pack/general/start/vim-fugitive"]
	path = pack/general/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/general/start/vim-repeat"]
	path = pack/general/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/general/start/nerdcommenter"]
	path = pack/general/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "pack/general/start/ultisnips"]
	path = pack/general/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/general/start/vim-snippets"]
	path = pack/general/start/vim-snippets
	url = https://github.com/honza/vim-snippets
